/* PC */
@media (min-width: 1024) {

}

@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-form .form-control {
        padding: 12px;
    }

    #footer .socials {
        font-size: 32px;
    }

    #footer .socials a{
        margin: 0 8px;
    }

    #footer .copyright {
        font-size: 18px;
    }

    #footer .copyright a {
        display: inline-block;
        padding: 12px 0;
    }

    .contact-info {
        line-height: 2;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    .col-s-1, .s-full-width {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px;
    }

    #header {
        overflow: hidden;
    }

    #nav {
        display: block;
    }

    #nav >li:first-child {
        display: inline-block;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 2px 24px;
    }

    #nav .subnav {
        position: unset;
        background-color: #333;
    }

    #nav .subnav a {
        padding: 5px 41px;
        color: #fff;
    }

    .search-btn {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }

    #content .member-image {
        width: 60%;
    }

    .contact-form {
        margin-top: 16px;
    }
}